.navbar {
    background-color: transparent;
}

.logo {
    color: var(--secondary-color);
    font-weight: bolder;
}

.navbar-toggler-icon {
    height: 1em;
    width: 1em;
}

.search-notes {
    padding: 0.45em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 380px;
    border-radius: 30px;
    background-color: var(--neutral-color);
}

.search-notes > input {
    border-style: none;
    background-color: transparent;
    color: var(--text-color);
    width: 100%;
}

.search-notes > input::placeholder {
    color: var(--label-color);
}


.search-notes > input:focus {
    border-style: none;
    background-color: transparent;
}