<main>
    <section>
        <h3 class="section-title">Notas Recentes</h3>

        <div class="container-fluid d-flex justify-content-center justify-content-lg-start row row-cols-auto">
            <th:block th:each="note : ${notes}">
                <div th:replace="~{fragments/note-cover :: cover(note=${note})}">
                </div>
            </th:block>
        </div>
    </section>

    <section>
        <h3 class="section-title">Principais pastas</h3>
        <div class="container-fluid d-flex justify-content-center justify-content-lg-start row row-cols-auto">
            <th:block th:each="folder : ${folders}">
                <div th:replace="~{fragments/folder-cover :: folder(folder=${folder})}">
                </div>
            </th:block>
        </div>
    </section>
</main>